@charset "UTF-8";
@import 'mix';


$bg: #BDC5D0;
$bk_head: #525D66;
$bk_cont: #E1E7ED;
$device: #F2F3F5;
$red: #E83333;
$blue: #3B75DE;

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
ul, p {
    margin: 0;
}
.col-1, .col-2, .col-25, .col-3, .col-33, .col-4, .col-5, .col-6, .col-7, .col-75, .col-8, .col-9 {
    float: left;
}
.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-3 {
    width: 30%;
}
.col-33 {
    width: 33.33333333333333%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-75 {
    width: 75%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
/* Track */

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
    // border-radius: 2px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 8px;
    border-radius: 2px;
    background-color: #728291;
}
// ::-webkit-scrollbar-thumb:window-inactive {
//     background: #444;
// }
// 
html {
    background-color: $bg;
}
html, body {
    width: 100%;
    height: 100%;
    -webkit-user-select: initial;
    user-select: initial;
}
body {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.mb10{
    margin-bottom: 10px;
}
.viewbox {
    background-color: #3C4757;
    // background: -webkit-radial-gradient(#FFF, $bg + #333, $bg - #161616);
    width: 100%;
    height: 100%;
    position: relative;
    // background-image: linear-gradient(rgba(255,255,255,.5) 1px, transparent 1px),
    // linear-gradient(90deg, rgba(255,255,255,.5) 1px, transparent 1px),
    // linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
    // linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    // background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    // background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
.box {
    // padding-top: 50px;
}
//device
.device {
    // position: relative;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    z-index: 50;
    border-radius: 25px;
    box-shadow: 0px 20px 120px rgba(0, 0, 0, 0.3);
}
.device_head {
    height: 40px;
    background-color: #F3F4F7;
    border-radius: 25px 25px 0 0;
    padding-top: 15px;
    border-bottom: 1px solid #eee;
    .device_head_hole {
        height: 8px;
        width: 50px;
        margin: 0 auto;
        background-color: #999;
        border-radius: 4px;
    }
}
.device_body {
    overflow: hidden;
}
.device_foot {
    height: 60px;
    background-color: #F3F4F7;
    border-radius: 0 0 25px 25px;
    border-top: 1px solid #eee;
}
// .device_size_s {
//     width: 320px;
//     margin-left: -240px;
//     .device_body {
//         height: 420px;
//     }
// }
.device_size_m {
    width: 360px;
    margin-left: -290px;
    margin-top: -320px;
    .device_body {
        height: 540px;
    }
}
.device_size_l {
    width: 400px;
    margin-left: -300px;
    margin-top: -320px;
    .device_body {
        height: 640px;
    }
}
// .device_size_xl {
//     width: 640px;
//     .device_body {
//         height: 960px;
//     }
// }
//side_block
.left_side_block {
    position: fixed;
    width: 50px;
    background-color: #242F3F;
    top: 50%;
    margin-top: -50px;
    left: 110px;
    z-index: 99;
    color: #FFF;
    ul {
        margin-bottom: 0;
    }
    li {
        height: 50px;
        text-align: center;
        line-height: 50px;
        position: relative;
        &:hover {
            cursor: pointer;
            background-color: #242F3F - #111;
        }
        &:after {
            position: absolute;
            content: '';
            width: 30px;
            height: 0;
            border-top: 1px solid #242F3F - #222;
            // border-bottom: 1px solid #eee;
            left: 10px;
            bottom: -1px;
        }
        &:last-child:after {
            display: none;
        }
    }
}
.left_side_block2 {
    position: absolute;
    height: 80%;
    left: 160px;
    top: 10%;
    z-index: 98;
    .bk_tab_container,
    .bk_tab_cont{
        height: 100%;
    }
    .bk_cont {
        height: 100%;
        overflow: hidden;
        padding: 15px 0 15px 15px;
        & > div{
              overflow-Y: scroll;
              height: 100%;
              padding-top: 40px;
              margin-top: -50px;
        }
    }
}
.bk_tab_cont {
    width: 560px;
    position: absolute;
    left: 10px;
    top: 0;
    background-color: $bk_cont;
    z-index: 51;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
    &:after {
        position: absolute;
        content: '';
        left: -60px;
        width: 60px;
        height: 100%;
        top: 0;
    }
}
.bk_tab_head {
    height: 50px;
    background-color: $blue - #111;
    color: #FFF;
    .bk_tab_li {
        float: left;
        width: 80px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
    .active {
        background-color: $blue ;
    }
}
.bk_tab_container {
    .bk_cont {
        display: none;
    }
}
.col5_template {
    .col-5 {
        margin-bottom: 10px;
        padding: 10px;
        position:relative;
        height: 230px;
        width: 160px;
        margin-right: 20px;
        &:hover {
            background-color: $bk_cont - #111;
            cursor: pointer;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .tmpl_box{
        position: relative;
        width: 100%;
        height: 100%;
    }
}
.other_tmpls{
    .col-5 {
        height: 140px;
    }
}
.tmpl_info{
    position: absolute;
    bottom: 0;
    background-color: rgba(135, 154, 181, 0.9);
    color: #FFF;
    padding: 5px 10px;
    font-size: 1.2rem;
    width: 100%;
    text-shadow: 0 1px 3px #545F6E;
}

.bottom_block {
    position: fixed;
    left: 0;
    top: 0;
    // background-color: $bk_cont;
    background-color: #242F3F;
    z-index: 20;
    height: 100%;
    .bk_toggle_cont {
        padding: 20px 10px;
        width: 100px;
        height: 100%;
        margin-top: -40px;
        padding-top: 60px;
        .page_count{
            height: 100%;
            margin-bottom: -180px;
            padding-bottom: 180px;
        }
    }
}
.btm_bk{
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    width: 300px;
    margin-left: -260px;
    z-index: 999;
    .btn{
        font-size: 18px;
    }

}
#btn_previewPage{
    position: relative;
    .qrcode{
        position: absolute;
        left: 50px;
        display: none;
    }
    &:hover{
        .qrcode{
            display: block;
        }
    }
}
.logo_title{
    color: #FFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #DF3C3C;
    font-size: 18px;
    sup{
        font-size: 12px;
        vertical-align: super;
    }
}

.count{
    height: 100%;
    overflow-y: scroll;
    margin: 0 -10px;
    padding: 0 10px;
    .page_square{
        font-size: 2rem;
    }
    .ui_tip{
        height: 36px;
        margin: 0 0 10px 0;
    }
}
.page_square {
    // width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    // float: left;
    // margin-right: 10px;
    margin-bottom: 10px;
    background-color: #172232;
    font-size: 1.4rem;
    border-radius: 2px;
    position: relative;
    color: #FFF;
    cursor: pointer;
    &:hover {
        background-color: #172232 + #222;
    }
    &.active {
        background-color: $blue;
    }
}
.page_control{
    margin-top: 5px;
    padding-top: 20px;
    border-top: 1px solid #4A596E;
}
.btn_removePage {
    background-color: #DF3C3C;
    &:hover {
        background-color: #DF3C3C - #161616;
    }
}
.btn_addPage,
.btn_copyPage {
    background-color: $blue;
    &:hover {
        background-color: $blue - #161616;
    }
}

.topLeft_side_block {
    position: fixed;
    left: 50%;
    top: 10%;
    margin-top: -50px;
    margin-left: -240px;
    li {
        float: left;
        position: relative;
        width: 20px;
        height: 30px;
        color: #bbb;
        &:nth-child(1) {
            font-size: 1.3rem;
        }
        &:nth-child(2) {
            font-size: 1.5rem;
        }
        &:nth-child(3) {
            font-size: 2rem;
        }
        &:hover {
            color: #555;
            cursor: pointer;
        }
        &.active {
            color: #555;
        }
        .glyphicon {
            position: absolute;
            bottom: 0;
            top: auto;
        }
    }
}
.right_side_block {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    // border-radius: 5px;
    // background-color: $bk_cont;
    background-color: #FFF;
    height: 100%;
    .bk_tab_container{
        height: 100%;
        margin-top: -50px;
        padding-top: 50px;
        margin-bottom: -20px;
        padding-bottom: 20px;
    }
    .bk_cont {
        width: 320px;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        overflow-y: scroll;
        height: 100%;
    }
}
.right_side_block2 {
    position: absolute;
    width: 80px;
    // background-color: $bk_cont;
    // height: 50px;
    // left: 50%;
    // margin-left: -150px;
    right: 320px;
    top: 40px;
    li {
        // float: left;
        // width: 50px;
        text-align: center;
        line-height: 30px;
        position: relative;
        margin-bottom: 5px;
        background-color: rgba(0, 0, 0, .3);
        color: #FFF;
        // border-radius: 0 5px 5px 0;
        // &:after{
        //     position: absolute;
        //     content: '';
        //     width: 60px;
        //     height: 1px;
        //     left: 10px;
        //     bottom: 0px;
        //     background-color: $bk_cont - #111;
        // }
        &:hover {
            background-color: $green2;
            cursor: pointer;
        }
    }
}
.bk_edit_target{
    padding: 10px;
    width: 320px;
    color: $blue;
    p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.right_side_btn {
    position: absolute;
    right: -20px;
    bottom: 0;
    .btn_pagectrl {
        background-color: rgba(0, 0, 0, .3);
        text-align: center;
        line-height: 50px;
        font-size: 2rem;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        color: #FFF;
        float: left;
        &:hover {
            background-color: $green2;
            color: #FFF;
        }
    }
    .func {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .func_up {
        .btn_prevpage {
            margin-bottom: 10px;
        }
    }
    .func_left {
        width: 110px;
        .btn_prevpage {
            margin-right: 10px;
        }
    }
}
.bottom_side_info {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -60px;
    font-size: 3rem;
    color: $bg - #222;
}
#num_curPage {
    color: #333;
}
.input_block {
    margin-bottom: 15px;
    border-bottom: 1px dashed $bk_cont - #111;
    padding-bottom: 20px;
    padding-top: 5px;
    display: none;
    input,
    select {
        border: 1px solid;
        width: 100%;
        padding: 2px 5px;
    }
    .input_title {
        height: 28px;
        padding: 0 10px;
        color: #7D8994;
        span {
            color: $bk_cont - #444;
        }
    }
    .input_cont > div {
        padding: 0 10px;
        line-height: 40px;
    }
    audio{
        width: 100%;
    }
    &:last-child {
        border-bottom: 0;
    }
}
.input_special{
    background-color: #EEF0F3;
}
#tab_anima .input_block{
    display: block;
}
.form_block {
    // height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.form_control {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-top: 4px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    color: $blue;
}
input[type=radio], input[type=checkbox] {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    vertical-align: bottom;
}

.input_options{
    margin-top: -10px;
    span{
        display: block;
        width: 60px;
        text-align: center;
        border: 1px solid #DDD;
        float: left;
        margin-right: 10px;
        height: 36px;
        line-height: 36px;
        color: #999;
        cursor: pointer;
        margin-top: 10px;
        &:last-child{
            margin-right: 0;
        }
        &:hover,
        &.active{
            border-color: $blue;
            color: $blue;
        }
    }
}


.bk_headbar {
    height: 8px;
    width: 100%;
    // border-radius: 5px 5px 0 0;
    background-color: $bk_head;
    // position: absolute;
    // top: -10px;
}
.top_tip {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #7D879C;
}
.footer {
    // width: 150px;
    position: absolute;
    left: 110px;
    bottom: 10px;
    color: #8490A0;
    font-size: 1rem;
    // text-shadow: 1px 1px 0 #7D879C + #555;
}
// edit

// .item_sort{
//     display: table;
//     width:100%;
//     .m_elem{
//         display: table-cell;
//     }
// }

.item_edit{
    &:hover {
        position: relative;
        cursor: pointer;
        -webkit-animation-fill-mode: initial !important;
        opacity: 1 !important;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.item_sort:hover:after {
    background-color: rgba(155, 228, 108, 0.4);
}
.item_drag:hover:after {
    background-color: rgba(108, 173, 228, 0.4);
}
.item_free:hover:after {
    background-color: rgba(228, 108, 131, 0.4);
    z-index: 0;
}
.hasLine{
    .item_drag {
        &:after {
            border: 1px dashed #F00;
        }
    }
}
.item_drag{
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
}
.m_cur {
    position: relative;
    box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.5);
    -webkit-animation-fill-mode: initial !important;
    opacity: 1 !important;
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        border: 2px dashed #F00;
        z-index: -1;
    }
}

.status_reply{
    padding: 10px;
    margin: -10px;
    font-weight: bold;
}


// *[contenteditable]:focus {
//     padding: 5px 10px;
// }
.ui_tip {
    height: 60px;
    margin: 10px 0;
    border: 1px dashed #ddd;
    background-color: rgba(0, 0, 0, .1);
}

.menu {
    position: absolute;
    right: 0;
    width: 100px;
    display: none;
    text-align: center;
    background-color: #FFF;
    z-index: 99;
    padding: 5px;
    li {
        line-height: 30px;
        border-bottom: 1px solid $bk_cont;
        text-align: left;
        padding-left: 4px;
        &:hover {
            background-color: $bk_cont;
            cursor: pointer;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}
#ueditor {
    position: fixed;
    top: 50%;
    margin-top: -250px;
    z-index: 200;
    left: 50%;
    margin-left: -360px;
}
.bg_layer {
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 199;
}

.ue_btns{
    position: absolute;
    bottom: -50px;
    right: 0;
    .ue_btn{
        width: 100px;
        height: 40px;
        line-height: 40px;
        float: left;
        text-align: center;
        color: #FFF;
        cursor: pointer;
    }
}

#btn_saveEdit {
    background-color: $green1;
    &:hover {
        background-color: $green1 - #111;
    }
}
#btn_cancelEdit {
    background-color: $bk_head + #222;
    &:hover {
        background-color: $bk_head;
    }
}
a.about_a,
a.about_a:hover,
a.about_a:visited{
    color: #FFF;
}
.about{
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.3);
    .box{
        position: absolute;
        background-color: #FFF;
        width: 800px;
        height: 600px;
        left: 50%;
        top: 50%;
        margin-top: -300px;
        margin-left: -400px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 0 50px rgba(0,0,0,.3);
    }
    .u_title{
        font-size: 2rem;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-indent: 20px;
        border-bottom: 1px solid #ddd;
    }
    .u_lists{
        margin-bottom: 10px;
    }
    .u_block{
        position: relative;
        width: 100px;
        float: left;
        margin: 10px 20px;
    }
    .pic{
        width: 100%;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .tit{
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #666;
    }
}

//edit jq ui slide css, make the slide btn to circle btn
.ui-slider-horizontal {
    margin-top: 16px;
    height: 5px;
    border: 0;
    .ui-slider-handle {
        border-radius: 10px;
        top: -0.4em;
        background: $blue + #111;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover, &:active {
            background-color: $blue;
        }
    }
}
.ui-widget-content{
    background: $blue;
}
.ui-resizable-nw, .ui-resizable-sw, .ui-resizable-ne, .ui-resizable-se, .ui-resizable-s, .ui-resizable-n, .ui-resizable-e, .ui-resizable-w {
    display: none !important;
}
.ui-resizable.m_cur {
    .ui-resizable-nw, .ui-resizable-sw, .ui-resizable-ne, .ui-resizable-se {
        display: block !important;
        width: 30px !important;
        height: 30px !important;
        &:after {
            position: absolute;
            content: "";
            background-color: #F50;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            left: 9px;
            top: 9px;
        }
    }
    .ui-resizable-se {
        right: -13px;
        bottom: -13px;
    }
    .ui-resizable-ne {
        right: -13px;
        top: -13px;
    }
    .ui-resizable-sw {
        left: -13px;
        bottom: -13px;
    }
    .ui-resizable-nw {
        left: -13px;
        top: -13px;
    }
    .ui-resizable-s {
        display: block !important;
        height: 30px;
        bottom: -20px;
        width: 70%;
        left: 15%;
    }
    .ui-resizable-n {
        display: block !important;
        height: 30px;
        top: -20px;
        width: 70%;
        left: 15%;
    }
    .ui-resizable-e {
        display: block !important;
        width: 30px;
        right: -20px;
        height: 70%;
        top: 15%;
    }
    .ui-resizable-w {
        display: block !important;
        width: 30px;
        left: -20px;
        height: 70%;
        top: 15%;
    }
}
.ui-resize-ok {
    background-color: $green1 !important;
}
.ui-icon {
    background: none;
}
.ui-tooltip {
    background: #333 !important;
    color: #ccc !important;
    border: none !important;
    padding: 4px 8px;
    font-size: 1rem;
    box-shadow: none !important;
}
.anima_off {
    .anima_type {
        -webkit-transition: none !important;
        transition: none !important;
    }
}

.minicolors-theme-bootstrap .minicolors-swatch{
    border-radius: 0;
    border: 1px solid #ddd;
    top: 2px;
}

.edui-default .edui-editor{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.edui-default .edui-editor-messageholder{
    display: none !important;
}




//本地选取颜色块，常用颜色
.btn_colorPick{
    width: 40px;
    height: 40px;
    background: url('../images/cus-color.png') center no-repeat;
    cursor: pointer;
}
.colorPicker{
    position: relative;
}
.colorboard {
    padding: 10px;
    position: absolute;
    right: 0;
    width: 292px;
    background-color: #F6F6F6;
    border-radius: 5px;
    z-index: 99;
    border: 1px solid #DDD;
    display: none;
}
.colorblock {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 0 0 1px #ddd;
}
.colorblock:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3);
    border-radius: 1px;
    box-shadow: 0 0 2px rgba(50, 50, 50, 0.5);
}
.blackwhitearea {
    margin-top: 13px;
    float: left;
}
.nocolor {
    background-image: url('../images/transparent.png') !important;
}

.qrcode_set{
    position: relative;
}
.qrcode{
    position: absolute;
    left: 100px;
    bottom: 0;
    padding:10px;
    background-color: #FFF;
    canvas{
        display: block;
    }
}

.anima_names{
    overflow: hidden;
    .cont{
        margin-top: 20px;
        margin-right: -20px;
    }
    .anime{
        position: relative;
        width: 60px;
        height: 60px;
        margin: 0 12px 20px 0;
        // background-color: #FFF;
        box-shadow:0 0 0 2px #EEE;
        float: left;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        line-height: 18px;
        padding: 10px;
        color: #999;
        // background: url('../images/action.svg') no-repeat;
        &.active,
        &:hover{
            box-shadow:0 0 0 2px $blue;
            color: $blue;
        }
    }
}

@media screen and (min-width: 1680px){
    .bottom_block{
        .bk_toggle_cont{
            width: 160px;
        }
    }
    .left_side_block{
        left: 160px;
    }
    .footer{
        left: 170px;
    }
    .bk_tab_cont{
        left: 60px;
    }
    .right_side_block {
        .bk_cont{
            width: 390px;
        }
    }
}