//opacity
@mixin bc {
    margin-left: auto;
    margin-right: auto;
}


//size
@mixin size($width:auto, $height:auto) {
  width: $width;
  height: $height;
}

@mixin lh($var){
  height: $var;
  line-height: $var;
}

//border



//margin
@mixin mt($var){
    margin-top: $var;
}
@mixin mr($var){
    margin-right:$var;
}
@mixin mb($var){
    margin-bottom: $var;
}
@mixin ml($var){
    margin-left:$var;
}

//padding
@mixin pt($var){
    padding-top: $var;
}
@mixin pr($var){
    padding-right: $var;
}
@mixin pb($var){
    padding-bottom: $var;
}
@mixin pl($var){
    padding-left: $var;
}

//shadow

@mixin circle($r){
    width: $r;
    height: $r;
    -webkit-border-radius: $r/2;
    border-radius: $r/2;
}

@mixin icon($icons,$name){
    background-repeat: no-repeat;
    background-image: sprite-url($icons);
    // background-position: sprite-position($icons, $name);
    background-position: round(nth(sprite-position($icons, $name), 1) / 2) round(nth(sprite-position($icons, $name), 2) / 2);
    height:round(image-height(sprite-file($icons, $name)) / 2);
    width: round(image-width(sprite-file($icons, $name)) /2 );

    $width : ceil(image-width(sprite-path($icons))/2);
    background-size: $width auto;
}

//触屏
@mixin iconSrc($icons){

    background: sprite-url($icons) no-repeat;
    $width : ceil(image-width(sprite-path($icons))/2);
    background-size: $width auto;
}
@mixin iconPos($icons, $name){
    height:round(image-height(sprite-file($icons, $name)) / 2);
    width: round(image-width(sprite-file($icons, $name)) /2 );
    background-position: round(nth(sprite-position($icons, $name), 1) / 2) round(nth(sprite-position($icons, $name), 2) / 2);
}


@mixin iconPC($icons, $name){
    background-repeat: no-repeat;
    background-image: sprite-url($icons);
    // background-position: sprite-position($icons, $name);
    background-position: round(nth(sprite-position($icons, $name), 1)) round(nth(sprite-position($icons, $name), 2));
    height:round(image-height(sprite-file($icons, $name)));
    width: round(image-width(sprite-file($icons, $name)));
}

// pc
@mixin iconSrcPC($icons){
    background: sprite-url($icons) no-repeat;
}
@mixin iconPosPC($icons, $name){
    height:round(image-height(sprite-file($icons, $name)));
    width: round(image-width(sprite-file($icons, $name)));
    background-position: round(nth(sprite-position($icons, $name), 1)) round(nth(sprite-position($icons, $name), 2));
}