<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0">
    <title>H5.Maker</title>
    <link rel="stylesheet" href="/js/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/js/vendor/quill/quill.snow.css">
    <link rel="stylesheet" href="/js/vendor/mu/mu.min.css">
    <link rel="stylesheet" href="/style/animate.css">
    <link rel="stylesheet" href="/style/app.css">
</head>

<body>
    <div class="container-fluid app">
        <div class="row">
            <div class="col-md-8 stage">
                <div class="stage-inner" id="stage">
                    <div class="device">
                        <div class="wrapper" id="output"></div>
                    </div>
                </div>

                <div id="helper"></div>
                <div id="topBar"></div>
                <div id="pageList"></div>
                <div id="elemList"></div>
                <div id="status"></div>
            </div>
            <div class="col-md-4 back-stage" id="backStage">
                <div class="ppd">
                    <div class="body" id="property"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var CUR_DATA = {
            username : '<%= username %>'
        };
    </script>

    <script src="/js/vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="/js/vendor/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="/js/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/vendor/quill/quill.min.js"></script>
    <script src="/js/vendor/jquery.qrcode.min.js"></script>
    <script src="/js/vendor/mu/mu.latest.min.js"></script>
    <script src="/js/app.js"></script>

    <!-- // backend -->
    <!-- <script src="/js/api.js"></script>
    <script src="/js/editor.js"></script> -->
</body>
</html>
