<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> express crud </title>
    <link rel="stylesheet" href="/js/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/vendor/mu/mu.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="/login" method="post" accept-charset="utf-8">
                    <h3>login</h3>
                    <p>用户名: ro,  密码: 1</p>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary"> Submit </button>
                    <a href="/" class="btn btn-link">cancel</a>
                </form>
            </div>
        </div>
    </div>
<script src="/js/vendor/jquery/jquery-1.9.1.min.js"></script>
<script>

</script>

</body>
</html>
