<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> express crud </title>
    <link rel="stylesheet" href="/js/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/vendor/mu/mu.min.css">
    <!-- /*<style><%= data.render.style %></style>*/ -->
</head>
<body>

<div class="wrapper">
    <% for(var i = 0; i < data.render.html.length; i++){ %>
        <%= data.listHtml[i] %>
    <% } %>
</div>

<script src="/js/vendor/jquery/jquery-1.9.1.min.js"></script>

</body>
</html>
