<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> express crud </title>
    <link rel="stylesheet" href="/js/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/vendor/mu/mu.min.css">
</head>
<body>

<section>
    <h3>user</h3>
    <% if(user){ %>
        u logged in as <%= user.username %>
        <a href="/logout">Log out</a>
    <% }else{ %>
        <a href="/login">login</a>
        <br>
        <a href="/register">register</a>
    <% } %>
</section>
<script src="/js/vendor/jquery/jquery-1.9.1.min.js"></script>

<script>

</script>

</body>
</html>
