body {
  padding: 0;
  margin: 0;
}

header {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #F50;
  color: #FFF;
}

.icon {
  background: url('../images/sprite-se68fdd4d04.png') no-repeat;
  display: inline-block;
}

.icon-qq {
  height: 40px;
  width: 40px;
  background-position: 0 -60px;
}

.icon-weibo {
  height: 40px;
  width: 40px;
  background-position: 0 -20px;
}

.icon-weixin {
  height: 40px;
  width: 40px;
  background-position: 0 -100px;
}

.icon-alert {
  height: 20px;
  width: 20px;
  background-position: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon {
    background: url('../images/sprite@2x-s459bc0e2fc.png') no-repeat;
    background-size: 40px auto;
  }

  .icon-qq {
    height: 40px;
    width: 40px;
    background-position: 0 -60px;
  }

  .icon-weibo {
    height: 40px;
    width: 40px;
    background-position: 0 -20px;
  }

  .icon-weixin {
    height: 40px;
    width: 40px;
    background-position: 0 -100px;
  }

  .icon-alert {
    height: 20px;
    width: 20px;
    background-position: 0 0;
  }
}
