header{
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    li{
        float: left;
        text-align: center;
        width: 100px;
        &:nth-child(odd){
            background-color: #ccc;
        }
        a{
            display: block;
        }
    }
}