html,
body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cf:before,
.cf:after {
  display: table;
  content: '';
}

.cf:after {
  clear: both;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #728291;
}

::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}

.app {
  height: 100%;
}
.app > .row {
  height: 100%;
}

.stage,
.back-stage {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.stage {
  background-color: #eee;
}

.device {
  width: 360px;
  height: 540px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin-left: -180px;
  margin-top: -270px;
  background-color: #ddd;
}
.device .wrapper {
  height: 100%;
}
.device .wrapper .page {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.device .wrapper .cont {
  position: relative;
  height: 100%;
}

.qrcode-helper {
  position: absolute;
  right: 100px;
  bottom: 20px;
  font-size: 24px;
  z-index: 9;
  color: #aaa;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.qrcode-helper span {
  display: block;
}
.qrcode-helper:hover {
  color: #666;
}
.qrcode-helper:hover .qrcode {
  display: block;
}
.qrcode-helper .qrcode {
  padding: 10px;
  background-color: #fff;
  position: absolute;
  display: none;
  bottom: 50px;
  right: 0;
}
.qrcode-helper canvas {
  display: block;
}

.editable {
  position: absolute;
  display: table;
}
.editable:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(228, 130, 108, 0.2);
}
.editable .inner {
  display: table-cell;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.tool-bar {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -160px;
  background-color: #ddd;
}
.tool-bar li {
  position: relative;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
  float: left;
}
.tool-bar li:hover {
  background-color: #cccccc;
}
.tool-bar li.active:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff #fff transparent transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tool-bar-cont {
  position: absolute;
  display: none;
  width: 90%;
  height: 90%;
  z-index: 9;
  top: 40px;
  left: 5%;
}
.tool-bar-cont .tool-bar-cont-li {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  overflow-y: scroll;
}
.tool-bar-cont .tool-elem {
  width: 25%;
  height: 120px;
  float: left;
  margin-bottom: 20px;
}
.tool-bar-cont .tool-elem .tool-src {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: table;
  border: 1px solid #ddd;
  cursor: pointer;
}
.tool-bar-cont .tool-elem .tool-src .tool-pic {
  display: table-cell;
  vertical-align: middle;
}
.tool-bar-cont .tool-elem .tool-src:hover {
  background-color: #eee;
}
.tool-bar-cont .tool-elem .tool-src img {
  width: 100%;
}

.ppd {
  margin: 0 -15px;
  height: 100%;
}
.ppd .header {
  background-color: #2a64cd;
  height: 50px;
  width: 100%;
  color: #FFF;
}
.ppd .body {
  height: 100%;
  padding: 50px 0;
  margin: -50px 0;
}
.ppd .footer {
  height: 50px;
  background-color: #ddd;
}

.edit-panel {
  height: 100%;
  overflow-y: scroll;
}

.edit-group {
  background-color: #fff;
  padding: 10px;
}
.edit-group .row {
  margin: 0;
}

.anima {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 12px 20px 0;
  box-shadow: 0 0 0 2px #EEE;
  float: left;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  line-height: 18px;
  padding: 10px;
  color: #999;
}
.anima:hover, .anima.active {
  box-shadow: 0 0 0 2px #3b75de;
  color: #3b75de;
}

.btn-active {
  color: #fff;
  background-color: #2a64cd;
}

.page-ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #ccc;
  padding: 10px;
  overflow-y: scroll;
}
.page-ul .page-li {
  background-color: #bbb;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}
.page-ul .page-li:hover {
  background-color: #aaaaaa;
}
.page-ul .page-li.active {
  background-color: #2a64cd;
}
.page-ul .ui-tip {
  border: 1px dashed #2a64cd;
  height: 40px;
  margin-bottom: 10px;
}

.page-operation {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 280px;
  margin-left: -180px;
}

.elem-list {
  position: absolute;
  left: 20px;
  top: 50%;
  padding: 5px;
  margin-top: -270px;
  background-color: #ddd;
  border-radius: 2px;
}
.elem-list li {
  padding: 0px 10px;
  text-align: center;
  cursor: pointer;
}
.elem-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu {
  background-color: #fff;
  padding: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.menu ul {
  margin-bottom: 0;
}
.menu li {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 50px 0 20px;
  border: 1px solid #fff;
  cursor: pointer;
}
.menu li:hover {
  background-color: #eee;
  border-color: #ddd;
}
.menu li:active, .menu li:focus {
  background-color: #dddddd;
  border-color: #cccccc;
}
.menu .tip {
  position: absolute;
  right: 5px;
  color: #bbb;
  font-size: 12px;
}

.cur:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 1px dotted #F50;
}

.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-ne,
.ui-resizable-se,
.ui-resizable-s,
.ui-resizable-n,
.ui-resizable-e,
.ui-resizable-w {
  display: none !important;
}

.ui-resizable.cur .ui-resizable-nw,
.ui-resizable.cur .ui-resizable-sw,
.ui-resizable.cur .ui-resizable-ne,
.ui-resizable.cur .ui-resizable-se {
  display: block !important;
  width: 30px !important;
  height: 30px !important;
}

.ui-resizable.cur .ui-resizable-nw:after,
.ui-resizable.cur .ui-resizable-sw:after,
.ui-resizable.cur .ui-resizable-ne:after,
.ui-resizable.cur .ui-resizable-se:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #F50;
  left: 9px;
  top: 9px;
}

.ui-resizable.cur .ui-resizable-se {
  right: -13px;
  bottom: -13px;
}
.ui-resizable.cur .ui-resizable-ne {
  right: -13px;
  top: -13px;
}
.ui-resizable.cur .ui-resizable-sw {
  left: -13px;
  bottom: -13px;
}
.ui-resizable.cur .ui-resizable-nw {
  left: -13px;
  top: -13px;
}

.ui-resizable.cur .ui-resizable-s {
  display: block !important;
  height: 30px;
  bottom: -20px;
  width: 70%;
  left: 15%;
}

.ui-resizable.cur .ui-resizable-n {
  display: block !important;
  height: 30px;
  top: -20px;
  width: 70%;
  left: 15%;
}

.ui-resizable.cur .ui-resizable-e {
  display: block !important;
  width: 30px;
  right: -20px;
  height: 70%;
  top: 15%;
}

.ui-resizable.cur .ui-resizable-w {
  display: block !important;
  width: 30px;
  left: -20px;
  height: 70%;
  top: 15%;
}

.ui-resize-ok {
  background-color: #2ecc71 !important;
}

.ui-icon {
  background: none;
}
