@charset "utf-8";
@import "mix/_mix.scss";

$sprite-sprite-dimensions: true;
$iconsPC: sprite-map("sprite/*.png", $layout: 'smart');
$icons: sprite-map("sprite@2x/*.png", $layout: 'smart');

body{
    padding: 0;
    margin: 0;
}
header{
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #F50;
    color: #FFF;
}

// icon example
// eg: <span class="icon icon-qq"></span>
.icon{
    @include iconSrcPC($iconsPC);
    display: inline-block;
}

.icon-qq{
    @include iconPosPC($iconsPC, qq);
}
.icon-weibo{
    @include iconPosPC($iconsPC, weibo);
}
.icon-weixin{
    @include iconPosPC($iconsPC, weixin);
}
.icon-alert{
    @include iconPosPC($iconsPC, alert);
}

// 触屏
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .icon{
        @include iconSrc($icons);
    }
    .icon-qq{
        @include iconPos($icons, qq);
    }
    .icon-weibo{
        @include iconPos($icons, weibo);
    }
    .icon-weixin{
        @include iconPos($icons, weixin);
    }
    .icon-alert{
        @include iconPos($icons, alert);
    }
}
