@charset 'utf-8';

$brand: #2a64cd;

html,
body{
    height: 100%;
}
body{
    -webkit-text-size-adjust: none;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
    margin: 0;
}
.cf:before,
.cf:after{
    display: table;
    content: '';
}
.cf:after{
    clear: both;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  // border-radius: 2px;
  background-color: #728291;
}
::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}










$bg: #EDECF5;
$dark-bg: $bg - #0c0c0c;

.app{
    height: 100%;
    > .row{
        height: 100%;
    }
}

.stage,
.back-stage{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.stage-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.stage{
    background-color: $bg;
    width: 100%;
    margin-right: -450px;
    padding: 0 450px 0 0;
}
.back-stage{
    width: 450px;
}


















// 设备
.device{
    width: 360px;
    height: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    margin-left: -180px;
    margin-top: -270px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP7//483HTx//hx/Ohg1gIFx6IcBALl+VXknOCvFAAAAAElFTkSuQmCC);
    transition: transform .4s ease;
    .wrapper{
        backface-visibility: hidden;
        transform-style: preserve-3d;
        height: 100%;
        .page{
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            &.cur:after{
                z-index: -1;
                top: -2px;
                left: -2px;
                box-sizing: initial;
                border-width: 2px;
                border-style: dashed;
            }
        }
        .cont{
            position: relative;
            height: 100%;
        }
    }
}

// for backup, if it's need to cancel the animation
.disable-anmia{
    * {
        animation: none;
    }
}

.stage3D{
    perspective: 5000px;
    .device{
        transform: rotate3d(0, 1, 0, 15deg) translate3d(0, -30px, 0);
        &:after{
            position: absolute;
            content: '';
            height: 40px;
            width: 100%;
            bottom: -40px;
            left: 0;
            background-image: radial-gradient(rgba(0,0,0,.2) 10%, transparent 60%);
        }
    }
    .editable{
        box-shadow: -5px 5px 15px 5px rgba(0,0,0,.15);
    }
}




// helper
.qrcode-helper{
    position: absolute;
    right: 465px;
    bottom: 20px;
    font-size: 24px;
    z-index: 9;
    color: #aaa;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    span{
        display: block;
    }
    &:hover{
        color: #666;
        .qrcode{
            display: block;
        }
    }
    .qrcode{
        padding: 10px;
        background-color: #fff;
        position: absolute;
        display: none;
        bottom: 50px;
        right: 0;
    }
    canvas{
        display: block;
    }
}

.history{
    position: absolute;
    left: 20px;
    bottom: 20px;
}








//元素
.editable{
    position: absolute;
    display: table;
    animation-fill-mode: both;
    transition: box-shadow .3s ease;
    &:hover{
        cursor: pointer;
        z-index: 99;
        &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(228, 130, 108, 0.2);
        }
    }
    .inner{
        display: table-cell;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        img{
            width: 100%;
        }
    }
}












// 工具栏
.tool-bar{
    $w: 40px;
    $c: $dark-bg;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -160px - 225px;
    background-color: $c;
    li{
        position: relative;
        height: $w;
        width: $w * 2;
        line-height: $w;
        text-align: center;
        float: left;
        &:hover{
            background-color: $c - #111;
        }
        &.active{
            &:after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                left: 50%;
                bottom: -5px;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #fff #fff transparent transparent;
                transform: rotate(-45deg);
            }
        }
    }
}
.tool-bar-cont{
    display: none;
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px - 225px;
    height: 90%;
    z-index: 9;
    top: 40px;
    .tool-bar-cont-li{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .95);
        border-radius: 10px;
        box-shadow: 0px 20px 20px 5px rgba(0,0,0,.1);
        padding: 50px 30px;
        overflow-y: scroll;
    }
    .tool-elem{
        width: 25%;
        float: left;
        margin-bottom: 20px;

        .tool-src{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: table;
            border: 1px solid #ddd;
            cursor: pointer;
            .tool-pic{
                display: table-cell;
                vertical-align: middle;
            }
            &:hover{
                background-color: #eee;
            }
            img{
                max-width: 100%;
            }
        }
    }
}











// 属性 | property ppd
.ppd{
    $h : 50px;
    margin: 0 -15px;
    height: 100%;
    .header{
        background-color: $brand;
        height: $h;
        width: 100%;
        color: #FFF;
    }
    .body{
        height: 100%;
        position: relative;
    }
}

.edit-group{
    background-color: #fff;
    padding: 20px 10px 0;
    &:hover{
        background-color: #fbfbfb;
    }
    &:last-child{
        .row{
            border-bottom: none;
        }
    }
    .row{
        margin: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid $bg;
    }
    .col-md-4{
        line-height: 30px;
    }
    textarea{
        width: 100%;
        height: 150px;
        -webkit-appearance: none;
        resize: none;
        border: 1px solid #ddd;
        padding: 10px;
    }
    .row{
        .btn-active{
            color: $brand;
            border: 1px solid $brand;
            z-index: 2;
            &:hover{
                color: $brand;
            }
            &:active,
            &:focus{
                background-color: $dark-bg - #111;
                color: $brand;
            }
        }
    }
}
.label-yellow{
    background-color: #F9F3EA;
}
.label-blue{
    background-color: $bg;
}
.edit-panel-tab{
    width: 100%;
    height: 40px;
    background-color: $brand;
    position: relative;
    .edit-panel-li{
        width: 25%;
        float: left;
        text-align: center;
        line-height: 40px;
        color: #fff;
    }
    .active{
        background-color: #fff;
        color: $brand;
    }
}
.edit-panel-cont{
    $w: 40px;
    height: 100%;
    background-color: #fff;
    padding-top: $w;
    margin-top: -$w;
    .edit-panel{
        // display: none;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }
}
.form-control{
    box-shadow: none;
    &:focus{
        box-shadow: none;
    }
}
.anima-name{
    padding-left: 10px;
}
.anima {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
    box-shadow: 0 0 0 1px #eee;
    background-color: #f8f8f8;
    float: left;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
    padding: 10px;
    color: #999;
    overflow: hidden;
    &:hover,
    &.active{
        box-shadow: 0 0 0 2px #3b75de;
        color: #3b75de;
    }
    div{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 10px;
        top: 10px;
        line-height: 20px;
        background-color: #fff;
    }
}
.colorpicker{
    width: 50px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP7//483HTx//hx/Ohg1gIFx6IcBALl+VXknOCvFAAAAAElFTkSuQmCC);
}
.innerHtml{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    img{
        max-width: 100%;
    }
}
.codeOrigin{
    display: none;
}
// .CodeMirror{
//     display: none;
//     width: 100%;
//     border-top: 1px solid #999;
//     border-bottom: 1px solid #999;
// }



// 页面管理 | page management
.page-ul-wrap{
    position: absolute;
    width: 70px;
    left: 20px;
    top: 20px;
    bottom: 100px;
    background-color: $dark-bg;
    padding-bottom:200px;
}
.page-ul{
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
    .page-li{
        background-color: $dark-bg - #111;
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        &:hover{
            background-color: $dark-bg - #222;
        }
        &.active{
            background-color: $brand;
            &:hover{
                background-color: $brand - #111;
            }
        }
    }
    .ui-tip{
        border: 1px dashed $brand;
        height: 40px;
        margin-bottom: 10px;
    }
}
.page-control{
    padding: 10px;
    border-top: 1px solid $dark-bg - #111;
    a{
        margin-bottom: 10px;
        width: 100%;
    }
    .btn-brand{
        background-color: $brand;
        color: #fff;
        border-radius: 2px;
        &:hover{
            background-color: $brand - #111;
        }
    }
}
.page-operation{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 280px;
    margin-left: -180px;
}
.quick-key{
    position: absolute;
    right: 465px;
    top: 50%;
    margin-top: -270px;
    width: 90px;
    .btn{
        width: 100%;
        background-color: $dark-bg;
        border: none;
    }
}











// 查看元素状态
.elem-list{
    position: absolute;
    left: 90px;
    top: 20px;
    padding: 10px;
    border-radius: 2px;
    .title{
        border-bottom: 1px solid $bg - #222;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    li{
        padding: 4px 10px;
        text-align: left;
        cursor: pointer;
        &:hover{
            background-color: rgba(0,0,0,.1);
        }
        &.active{
            background-color: $brand;
            color: #fff;
        }
    }
}











// 右键 | context menu
.menu{
    @mixin active($bg, $border){
        &:hover{
            background-color: $bg;
            border-color: $border;
        }
        &:active,
        &:focus{
            background-color: $bg - #111;
            border-color: $border - #111;
        }
    }
    background-color: #fff;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    ul{
        margin-bottom: 0;
    }
    li{
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 50px 0 20px;
        border: 1px solid #fff;
        cursor: pointer;
        @include active(#eee, #ddd);
    }
    .tip{
        position: absolute;
        right: 5px;
        color: #bbb;
        font-size: 12px;
    }
}


.cur:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 1px dashed #F50;
}













// 伸缩 | resizable style
.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-ne,
.ui-resizable-se,
.ui-resizable-s,
.ui-resizable-n,
.ui-resizable-e,
.ui-resizable-w {
  display: none !important;
}

.ui-resizable.cur .ui-resizable-nw,
.ui-resizable.cur .ui-resizable-sw,
.ui-resizable.cur .ui-resizable-ne,
.ui-resizable.cur .ui-resizable-se {
  display: block !important;
  width: 30px !important;
  height: 30px !important;
}
.ui-resizable.cur .ui-resizable-nw:after,
.ui-resizable.cur .ui-resizable-sw:after,
.ui-resizable.cur .ui-resizable-ne:after,
.ui-resizable.cur .ui-resizable-se:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #F50;
  left: 9px;
  top: 9px;
}
.ui-resizable.cur {
    .ui-resizable-se {
        right: -13px;
        bottom: -13px;
    }
    .ui-resizable-ne {
        right: -13px;
        top: -13px;
    }
    .ui-resizable-sw {
        left: -13px;
        bottom: -13px;
    }
    .ui-resizable-nw {
        left: -13px;
        top: -13px;
    }
}

.ui-resizable.cur .ui-resizable-s {
  display: block !important;
  height: 30px;
  bottom: -20px;
  width: 70%;
  left: 15%;
}
.ui-resizable.cur .ui-resizable-n {
  display: block !important;
  height: 30px;
  top: -20px;
  width: 70%;
  left: 15%;
}
.ui-resizable.cur .ui-resizable-e {
  display: block !important;
  width: 30px;
  right: -20px;
  height: 70%;
  top: 15%;
}
.ui-resizable.cur .ui-resizable-w {
  display: block !important;
  width: 30px;
  left: -20px;
  height: 70%;
  top: 15%;
}

.ui-resize-ok {
  background-color: #2ecc71 !important;
}

.ui-icon {
  background: none;
}
