@charset 'utf-8';

$brand: #2a64cd;

html,
body{
    height: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
    margin: 0;
}
.cf:before,
.cf:after{
    display: table;
    content: '';
}
.cf:after{
    clear: both;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  // border-radius: 2px;
  background-color: #728291;
}
::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}












.app{
    height: 100%;
    > .row{
        height: 100%;
    }
}

.stage,
.back-stage{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.stage{
    background-color: #eee;
}


















// 设备
.device{
    width: 360px;
    height: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    margin-left: -180px;
    margin-top: -270px;
    background-color: #ddd;
    .wrapper{
        height: 100%;
        .page{
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }
        .cont{
            position: relative;
            height: 100%;
        }
    }
}







// helper
.qrcode-helper{
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-size: 24px;
    z-index: 9;
    color: #aaa;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    span{
        display: block;
    }
    &:hover{
        color: #666;
        .qrcode{
            display: block;
        }
    }
    .qrcode{
        padding: 10px;
        background-color: #fff;
        position: absolute;
        display: none;
        bottom: 50px;
        right: 0;
    }
    canvas{
        display: block;
    }
}

.history{
    position: absolute;
    left: 20px;
    bottom: 20px;
}








//元素
.editable{
    position: absolute;
    display: table;
    &:hover{
        &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(228, 130, 108, 0.2);
        }
    }
    .inner{
        display: table-cell;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }
}












// 工具栏
.tool-bar{
    $w: 40px;
    $c: #ddd;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -160px;
    background-color: $c;
    li{
        position: relative;
        height: $w;
        width: $w * 2;
        line-height: $w;
        text-align: center;
        float: left;
        &:hover{
            background-color: $c - #111;
        }
        &.active{
            &:after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                left: 50%;
                bottom: -5px;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #fff #fff transparent transparent;
                transform: rotate(-45deg);
            }
        }
    }
}
.tool-bar-cont{
    position: absolute;
    display: none;
    width: 90%;
    height: 90%;
    z-index: 9;
    top: 40px;
    left: 5%;
    .tool-bar-cont-li{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .9);
        border-radius: 10px;
        box-shadow: 0px 20px 20px 5px rgba(0,0,0,.1);
        padding: 50px 30px;
        overflow-y: scroll;
    }
    .tool-elem{
        width: 25%;
        float: left;
        margin-bottom: 20px;

        .tool-src{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: table;
            border: 1px solid #ddd;
            cursor: pointer;
            .tool-pic{
                display: table-cell;
                vertical-align: middle;
            }
            &:hover{
                background-color: #eee;
            }
            img{
                width: 100%;
            }
        }
    }
}











// 属性 | property ppd
.ppd{
    $h : 50px;
    margin: 0 -15px;
    height: 100%;
    .header{
        background-color: $brand;
        height: $h;
        width: 100%;
        color: #FFF;
    }
    .body{
        height: 100%;
        padding: $h 0 0;
        margin: -$h 0 0;
        position: relative;
    }
}

.edit-group{
    background-color: #fff;
    padding: 10px;
    .row{
        margin: 0;
    }
    textarea{
        width: 100%;
        height: 150px;
        -webkit-appearance: none;
        resize: none;
        border: 1px solid #ddd;
        padding: 10px;
    }
}
.edit-panel-tab{
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-color: #eee;
    .edit-panel-li{
        width: 50%;
        float: left;
        text-align: center;
        line-height: 40px;
        color: #ccc;
    }
    .active{
        background-color: #fff;
        color: #333;
    }
}
.edit-panel-cont{
    $w: 40px;
    height: 100%;
    position: relative;
    background-color: #ddd;
    .edit-panel{
        position: absolute;
        // display: none;
        left: 0;
        top: $w;
        height: 100%;
        width: 100%;
        padding-top: $w;
        margin-top: -$w;
        overflow-y: scroll;
    }
}
.anima {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 12px 20px 0;
    box-shadow: 0 0 0 2px #EEE;
    float: left;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
    padding: 10px;
    color: #999;
    overflow: hidden;
    &:hover,
    &.active{
        box-shadow: 0 0 0 2px #3b75de;
        color: #3b75de;
    }
}
.btn-active{
    color: #fff;
    background-color: $brand;
}









// 页面管理 | page management
.page-ul{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #ccc;
    padding: 10px;
    overflow-y: scroll;
    .page-li{
        background-color: #bbb;
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        &:hover{
            background-color: #bbb - #111;
        }
        &.active{
            background-color: $brand;
        }
    }
    .ui-tip{
        border: 1px dashed $brand;
        height: 40px;
        margin-bottom: 10px;
    }
}
.page-operation{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 280px;
    margin-left: -180px;
}
.quick-key{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 320px;
    margin-left: -180px;
}











// 查看元素状态
.elem-list{
    position: absolute;
    left: 20px;
    top: 50%;
    padding: 5px;
    margin-top: -270px;
    background-color: #ddd;
    border-radius: 2px;
    li{
        padding: 0px 10px;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: rgba(0,0,0,.1);
        }
    }
}











// 右键 | context menu
.menu{
    @mixin active($bg, $border){
        &:hover{
            background-color: $bg;
            border-color: $border;
        }
        &:active,
        &:focus{
            background-color: $bg - #111;
            border-color: $border - #111;
        }
    }
    background-color: #fff;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    ul{
        margin-bottom: 0;
    }
    li{
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 50px 0 20px;
        border: 1px solid #fff;
        cursor: pointer;
        @include active(#eee, #ddd);
    }
    .tip{
        position: absolute;
        right: 5px;
        color: #bbb;
        font-size: 12px;
    }
}


.cur {
  // position: relative;
  // box-shadow: 0 0 0px 1px rgba(255, 0, 0, 0.5);
}
.cur:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 1px dotted #F50;
  // z-index: -1;
}













// 伸缩 | resizable style
.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-ne,
.ui-resizable-se,
.ui-resizable-s,
.ui-resizable-n,
.ui-resizable-e,
.ui-resizable-w {
  display: none !important;
}

.ui-resizable.cur .ui-resizable-nw,
.ui-resizable.cur .ui-resizable-sw,
.ui-resizable.cur .ui-resizable-ne,
.ui-resizable.cur .ui-resizable-se {
  display: block !important;
  width: 30px !important;
  height: 30px !important;
}
.ui-resizable.cur .ui-resizable-nw:after,
.ui-resizable.cur .ui-resizable-sw:after,
.ui-resizable.cur .ui-resizable-ne:after,
.ui-resizable.cur .ui-resizable-se:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #F50;
  left: 9px;
  top: 9px;
}
.ui-resizable.cur {
    .ui-resizable-se {
        right: -13px;
        bottom: -13px;
    }
    .ui-resizable-ne {
        right: -13px;
        top: -13px;
    }
    .ui-resizable-sw {
        left: -13px;
        bottom: -13px;
    }
    .ui-resizable-nw {
        left: -13px;
        top: -13px;
    }
}

.ui-resizable.cur .ui-resizable-s {
  display: block !important;
  height: 30px;
  bottom: -20px;
  width: 70%;
  left: 15%;
}
.ui-resizable.cur .ui-resizable-n {
  display: block !important;
  height: 30px;
  top: -20px;
  width: 70%;
  left: 15%;
}
.ui-resizable.cur .ui-resizable-e {
  display: block !important;
  width: 30px;
  right: -20px;
  height: 70%;
  top: 15%;
}
.ui-resizable.cur .ui-resizable-w {
  display: block !important;
  width: 30px;
  left: -20px;
  height: 70%;
  top: 15%;
}

.ui-resize-ok {
  background-color: #2ecc71 !important;
}

.ui-icon {
  background: none;
}
